{% extends 'base.html' %}

{% block content %}
  <ul>
    <!-- <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li> -->
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
    <li>
      <a href="{% url 'kmeans' %}">kmeans</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for sprt in sprites %}
      <li>
        <a href="{{ sprt.image.url }}">{{ sprt.image.name }}</a>
        <small>(Uploaded at: {{ sprt.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
